<div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
  <%= @list.name %>
</div>
<div class="card-trip-infos">
  <div class="cards m-3">
    <%  @list.bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
        <p> <%= bookmark.movie.rating %></p>
        <h2><%= bookmark.comment %> </h2>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: "Delete Bookmark?" }, class: 'card-remove-link' do %>
          <i class="fa-regular fa-circle-xmark"></i>
        <% end %>
      </div>
      <%# <p class="btn btn-primary"><%= link_to "Destroy", bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: 'Delete List?' } %>
    <% end %>
  </div>
</div>
